{
  "anthropic_api_key": {{ (bitwardenFields "item" "1c818a3d-9aa7-4718-9bc9-b2f00019635b").token_avante.value | quote }},
  "tavily_api_key": {{ (bitwardenFields "item" "4c3f2cab-b4cd-4de5-ac84-b32c01436fe9").token_avante.value | quote }}
}
