{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "personal-planner": {
      "type": "local",
      "command": [
        "{{ .chezmoi.homeDir }}/.agents/daily-planner-mcp/.venv/bin/python",
        "-m",
        "personal_planner_mcp"
      ],
      "environment": {
        "VAULT_PATH": "{{ .chezmoi.homeDir }}/A-Mann"
      },
      "enabled": true
    },
    "playwright": {
      "type": "local",
      "command": [
        "npx",
        "@playwright/mcp@latest"
      ],
      "enabled": true
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "enabled": true
    },
    "obsidian": {
      "type": "local",
      "command": [
        "npx",
        "@mauricio.wolff/mcp-obsidian@latest",
        "{{ .chezmoi.homeDir }}/A-Mann"
      ],
      "enabled": true
    },
    "todoist": {
      "type": "local",
      "command": [
        "npx",
        "@doist/todoist-ai"
      ],
      "environment": {
        "TODOIST_API_KEY": {{ (bitwarden "item" "b4dbd09d-450c-486a-8721-b29c007834d4" ).notes | quote }}
      },
      "enabled": true
    }
  }
}
