-- Reglas de Workspace-a-Monitor
-- Origen: dot_config/hypr/conf/workspace.conf.tmpl

{{ if eq .chezmoi.hostname "abyss" -}}
-- UW (LG Ultrawide) - Workspaces principales 1-8
hl.workspace_rule({ workspace = "1", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052", default = true })
hl.workspace_rule({ workspace = "2", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "3", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "4", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "5", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "6", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "7", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "8", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })

-- BenQ (Izquierda) - workspaces 9-13
hl.workspace_rule({ workspace = "9", monitor = "desc:BNQ BenQ EX240N ET65R00479SL0", default = true })
hl.workspace_rule({ workspace = "10", monitor = "desc:BNQ BenQ EX240N ET65R00479SL0" })
hl.workspace_rule({ workspace = "11", monitor = "desc:BNQ BenQ EX240N ET65R00479SL0" })
hl.workspace_rule({ workspace = "12", monitor = "desc:BNQ BenQ EX240N ET65R00479SL0" })
hl.workspace_rule({ workspace = "13", monitor = "desc:BNQ BenQ EX240N ET65R00479SL0" })

-- Dell (Derecha) - workspaces 14-18
hl.workspace_rule({ workspace = "14", monitor = "desc:Dell Inc. DELL P2314H 08MT558203AB", default = true })
hl.workspace_rule({ workspace = "15", monitor = "desc:Dell Inc. DELL P2314H 08MT558203AB" })
hl.workspace_rule({ workspace = "16", monitor = "desc:Dell Inc. DELL P2314H 08MT558203AB" })
hl.workspace_rule({ workspace = "17", monitor = "desc:Dell Inc. DELL P2314H 08MT558203AB" })
hl.workspace_rule({ workspace = "18", monitor = "desc:Dell Inc. DELL P2314H 08MT558203AB" })

{{ else if eq .chezmoi.hostname "ronin" -}}
-- UW (LG Ultrawide) - Workspaces principales 1-8 (cuando esta en el dock)
hl.workspace_rule({ workspace = "1", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052", default = true })
hl.workspace_rule({ workspace = "2", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "3", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "4", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "5", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "6", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "7", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })
hl.workspace_rule({ workspace = "8", monitor = "desc:LG Electronics LG ULTRAWIDE 509NTQDPS052" })

-- BenQ (Izquierda) - workspaces 9-13
hl.workspace_rule({ workspace = "9", monitor = "desc:BNQ BenQ EX240N ET65R00479SL0", default = true })
hl.workspace_rule({ workspace = "10", monitor = "desc:BNQ BenQ EX240N ET65R00479SL0" })
hl.workspace_rule({ workspace = "11", monitor = "desc:BNQ BenQ EX240N ET65R00479SL0" })
hl.workspace_rule({ workspace = "12", monitor = "desc:BNQ BenQ EX240N ET65R00479SL0" })
hl.workspace_rule({ workspace = "13", monitor = "desc:BNQ BenQ EX240N ET65R00479SL0" })

-- Dell (Derecha) - workspaces 14-18
hl.workspace_rule({ workspace = "14", monitor = "desc:Dell Inc. DELL P2314H 08MT558203AB", default = true })
hl.workspace_rule({ workspace = "15", monitor = "desc:Dell Inc. DELL P2314H 08MT558203AB" })
hl.workspace_rule({ workspace = "16", monitor = "desc:Dell Inc. DELL P2314H 08MT558203AB" })
hl.workspace_rule({ workspace = "17", monitor = "desc:Dell Inc. DELL P2314H 08MT558203AB" })
hl.workspace_rule({ workspace = "18", monitor = "desc:Dell Inc. DELL P2314H 08MT558203AB" })

-- Cuando esta sin dock, los workspaces vuelven a eDP-1 automaticamente
{{ end -}}
