#!/bin/sh

if [ ! -f "/home/walker/.config/chezmoi/key.txt" ]; then
    mkdir -p "/home/${USER}/.config/chezmoi"
    chezmoi age decrypt --output "/home/walker/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "/home/${USER}/.config/chezmoi/key.txt"
fi
