output "BNQ BenQ EX240N ET65R00479SL0" alias $main
output "Dell Inc. DELL P2314H 08MT558203AB" alias $alt

{{ if eq .chezmoi.hostname "abyss" -}}

profile default {
    output $main enable mode 1920x1080@165 position 0,0 scale 1.2 transform normal
    output $alt  enable mode 1920x1080@60 position 1600,0 scale 1.2  transform normal
}

profile game {
    output $main enable mode 1920x1080@165 position 0,0 scale 1 transform normal
    output $alt disable
}

{{ else if eq .chezmoi.hostname "ronin" -}}

profile default {
    output eDP-1 enable mode 1920x1080@60 position 0,0 scale 1.2
    exec /home/walker/.scripts/dock -r
}

profile dock {
    output eDP-1 disable
    # output eDP-1 enable mode 1920x1080@60 position 0,0 scale 1.2
    output $main enable mode 1920x1080@165 position 0,0 scale 1.2 transform normal
    output $alt  enable mode 1920x1080@60 position 1600,0 scale 1.2  transform normal
    exec /home/walker/.scripts/dock -a
}

profile dock2 {
    output eDP-1 disable
    output $main enable mode 1920x1080@165 position 0,0 scale 1.2 transform normal
    output $alt enable mode 1920x1080@60 position 1600,0 scale 1.2  transform 90
    exec /home/walker/.scripts/dock -a
}

profile undock {
    output eDP-1 enable mode 1920x1080@60 position 0,0 scale 1.2
    output $main disable
    output $alt disable
    exec /home/walker/.scripts/dock -r
}

profile game {
		output eDP-1 disable
    output $alt disable
    output $main enable mode 1920x1080@165Hz position 0,0 scale 1.2 transform normal
    exec /home/walker/.scripts/dock -a
}


{{ end }}
