output "LG Electronics LG ULTRAWIDE 509NTQDPS052" alias $main
output "BNQ BenQ EX240N ET65R00479SL0" alias $topleft
output "Dell Inc. DELL P2314H 08MT558203AB" alias $topright

{{ if eq .chezmoi.hostname "abyss" -}}

profile def {
    output $topleft  enable mode 1920x1080@165 position 0,0 scale 1.2 transform normal
    output $topright enable mode 1920x1080@60 position 1600,0 scale 1.2 transform normal
    output $main     enable mode 3440x1440@160 position 224,900 scale 1.25 transform normal
    exec swww restore
}

profile main {
    output $topleft  enable mode 1920x1080@165 position 0,0 scale 1.2 transform normal
    output $topright disable
    output $main     enable mode 3440x1440@160 position 224,900 scale 1.25 transform normal
    exec swww restore
}

profile sec {
    output $topleft  disable
    output $topright enable mode 1920x1080@60 position 0,0 scale 1.2 transform normal
    output $main     disable
    exec swww restore
}

profile game {
    output $topleft  disable
    output $topright disable
    output $main     enable mode 3440x1440@160 position 0,0 scale 1 transform normal
    exec swww restore
}

profile game_alt {
    output $topleft  enable mode 1920x1080@165 position 0,0 scale 1 transform normal
    output $topright disable
    output $main     enable mode 3440x1440@160 position 0,1080 scale 1.25 transform normal
    exec swww restore
}

profile uw_only {
    output $topleft  disable
    output $topright disable
    output $main     enable mode 3440x1440@160 position 0,0 scale 1.25 transform normal
    exec swww restore
}

{{ else if eq .chezmoi.hostname "ronin" -}}

profile def {
    output eDP-1 enable mode --custom 1920x1080@100Hz position 0,0 scale 1.2
    exec /home/walker/.scripts/dock -r
    exec swww restore
}

profile dock {
    output eDP-1 disable
    output $topleft  enable mode 1920x1080@165 position 0,0 scale 1.2 transform normal
    exec /home/walker/.scripts/dock -a
    exec swww restore
}

profile dock2 {
    output eDP-1 disable
    output $topleft  enable mode 1920x1080@165 position 0,0 scale 1.2 transform normal
    exec /home/walker/.scripts/dock -a
    exec swww restore
}

profile main {
    output eDP-1 disable
    output $topleft  enable mode 1920x1080@165 position 0,0 scale 1.2 transform normal
    output $topright disable
    exec /home/walker/.scripts/dock -a
    exec swww restore
}

profile undock {
    output eDP-1 enable mode --custom 1920x1080@100Hz position 0,0 scale 1.2
    output $topleft  disable
    output $topright disable
    output $main     disable
    exec /home/walker/.scripts/dock -r
    exec swww restore
}

profile game {
    output eDP-1 disable
    output $topleft  disable
    output $topright disable
    output $main     enable mode 3440x1440@160 position 0,0 scale 1 transform normal
    exec /home/walker/.scripts/dock -a
    exec swww restore
}

profile uw_only {
    output eDP-1 disable
    output $topleft  disable
    output $topright disable
    output $main     enable mode 3440x1440@160 position 0,0 scale 1.25 transform normal
    exec /home/walker/.scripts/dock -a
    exec swww restore
}

{{ end }}
