# Init auto-completion
autoload -U +X bashcompinit && bashcompinit
# Solve for tfenv
complete -o nospace -C $(readlink -f "$(which terraform)") terraform

alias tf=terraform
{{ if eq .chezmoi.arch "arm64" }}
export TFENV_ARCH=arm64
{{ end }}
