{
    "preferences": {
        "hass_key": {{ (bitwardenFields "item" "f751139a-d5b6-402c-b2c0-b0cb001ca7f9").token.value | quote }},
        "hass_url": "https://ha-hg.devsos.dev/"
    },
    "triggers": {
        "keyword": {
            "keyword": "ha"
        }
    }
}
